mlflow
scikit-learn
pandas
# DVC extra theo provider: [gs]=GCP, [s3]=AWS, [azure]=Azure
dvc[s3]
pathspec
pytest
fastapi
uvicorn
joblib
# Cloud SDK theo provider: google-cloud-storage (GCP), boto3 (AWS), azure-storage-blob (Azure)
pyyaml
boto3